<!DOCTYPE html>
<html>
  <head>
    <title>WinWinWork</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-mg navbar-light bg-light">
      <a class="navbar-brand">WinWinWork　働いた情報をみんなで共有しよう！！</a>

      <ul class="navbar-nav ml-auto">
        <% if current_user %>
          <li class="nav-item"><%= link_to '投稿一覧', boards_path, class: 'nav-link' %></li>
          <% if current_user.admin? %>
            <li class="nav-item"><%= link_to 'ユーザー一覧', admin_users_path, class: 'nav-link' %></li>
          <% end %>
            <li class="nav-item"><%= link_to 'ログアウト', logout_path, method: :delete, class: 'nav-link' %></li>
        <% else %>
          <li class="nav-item"><%= link_to 'ログイン', login_path, class: 'nav-link' %></li>
        <% end %>
      </ul>
    </nav>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
